
@{
    ViewBag.Title = "Info";
    Layout = "~/Views/Shared/_AgencyManager.cshtml";
}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4 p-1">
    <div class="row p-1">
        <div class=" row col-5 mr-1 rounded p-2 bg-coffee-light">
            <div class="col-5 mr-1">
                <img src="~/img/ava_default.jpg" class="rounded img-fluid"/>
            </div>
            <div class="col-6">
                <table>
                    <tr>
                        <th>Some</th>
                        <td>Info</td>
                    </tr>
                    <tr>
                        <th>Some</th>
                        <td>Info</td>
                    </tr>
                    <tr>
                        <th>Some</th>
                        <td>Info</td>
                    <tr>
                        <th>Some</th>
                        <td>Info</td>
                    </tr>
                    <tr>
                        <th>Some</th>
                        <td>Info</td>
                    </tr>
                    <tr>
                        <th>Some</th>
                        <td>Info</td>
                    </tr>
                    <tr>
                        <th>Some</th>
                        <td>Info</td>
                    </tr>

                </table>
            </div>
        </div>
        <div class="col-6 rounded p-2 bg-coffee-light">
            <h6>My Work Schedule</h6>
            <table class="table table-bordered">
                <tr>
                    <th>
                        Some
                    </th>
                    <th>
                        Info
                    </th>
                    <th>
                        About
                    </th>
                    <th>
                        Schedule
                    </th>
                </tr>
                <tr>
                    <td>
                        Some
                    </td>
                    <td>
                        Info
                    </td>
                    <td>
                        About
                    </td>
                    <td>
                        Schedule
                    </td>
                </tr>
                <tr>
                    <td>
                        Some
                    </td>
                    <td>
                        Info
                    </td>
                    <td>
                        About
                    </td>
                    <td>
                        Schedule
                    </td>
                </tr>
                <tr>
                    <td>
                        Some
                    </td>
                    <td>
                        Info
                    </td>
                    <td>
                        About
                    </td>
                    <td>
                        Schedule
                    </td>
                </tr>
                <tr>
                    <td>
                        Some
                    </td>
                    <td>
                        Info
                    </td>
                    <td>
                        About
                    </td>
                    <td>
                        Schedule
                    </td>
                </tr>
            </table>
        </div>
    </div>  
</main>

