
@{
    ViewBag.Title = "Finance";
    Layout = "~/Views/Shared/_OverallManager.cshtml";
}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4 m-1">
    <div class="row">
        <div id="info" class="col-6" style="display:none">
            <div class="rounded p-5 m-1 bg-coffee-light">
                <table class="table table-bordered border-dark rounded">
                    <tbody>
                        <tr>
                            <th scope="row">Some info:</th>
                            <td>Value</td>
                        </tr>
                        <tr>
                            <th scope="row">Some info:</th>
                            <td>Value</td>
                        </tr>
                        <tr>
                            <th scope="row">Some info:</th>
                            <td>Value</td>
                        </tr>
                        <tr>
                            <th scope="row">Some info:</th>
                            <td>Value</td>
                        </tr>
                        <tr>
                            <th scope="row">Some info:</th>
                            <td>Value</td>
                        </tr>
                        <tr>
                            <th scope="row">Some info:</th>
                            <td>Value</td>
                        </tr>
                        <tr>
                            <th scope="row">Some info:</th>
                            <td>Value</td>
                        </tr>
                        <tr>
                            <th scope="row">Some info:</th>
                            <td>Value</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h6>Graph</h6>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                        <span data-feather="calendar"></span>
                        This week
                    </button>
                </div>
            </div>

            <canvas class="my-4 w-100" id="myChart1" width="900" height="380"></canvas>
        </div>
        <div class="col-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h6>Graph</h6>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                        <span data-feather="calendar"></span>
                        This week
                    </button>
                </div>
            </div>

            <canvas class="my-4 w-100" id="myChart2" width="900" height="380"></canvas>
        </div>
        <div class="col-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h6>Graph</h6>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                        <span data-feather="calendar"></span>
                        This week
                    </button>
                </div>
            </div>

            <canvas class="my-4 w-100" id="myChart3" width="900" height="380"></canvas>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="rounded p-5 m-1 bg-coffee-light">
                <div class="row">
                    <h6>Cac bao cao</h6>
                </div>
                <div >
                    
                    <table class="table table-bordered table-striped border-dark rounded">
                        <tbody>
                        <thead>
                            <tr>
                                <th>Thoi gian</th>
                                <th>chitiet</th>
                            </tr>
                        </thead>
                        <tr>
                            <th>09/07/2020 11:11 AM </th>
                            <td><a class="btn btn-secondary bg-coffee" data-toggle="modal" data-target="#my_modal">modal</a></td>
                        </tr>
                        <tr>
                            <th>09/07/2020 11:11 AM </th>
                            <td><a class="btn btn-secondary bg-coffee">chitiet</a></td>
                        </tr>
                        <tr>
                            <th>09/07/2020 11:11 AM </th>
                            <td><a class="btn btn-secondary bg-coffee">chitiet</a></td>
                        </tr>
                        <tr>
                            <th>09/07/2020 11:11 AM </th>
                            <td><a class="btn btn-secondary bg-coffee">chitiet</a></td>
                        <tr>
                            <th>09/07/2020 11:11 AM </th>
                            <td><a class="btn btn-secondary bg-coffee">chitiet</a></td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>



        </div>
        <div class="col-4">
            <div class="rounded p-5 m-1 bg-coffee-light">
                <div class="row">
                    <h6>Cac bao cao</h6>
                </div>
                <div>
                    
                    <table class="table table-bordered table-striped border-dark rounded">
                        <tbody>
                        <thead>
                            <tr>
                                <th>Thoi gian</th>
                                <th>chitiet</th>
                            </tr>
                        </thead>
                        <tr>
                            <th>09/07/2020 11:11 AM </th>
                            <td><a class="btn btn-secondary bg-coffee" data-toggle="modal" data-target="#my_modal">modal</a></td>
                        </tr>
                        <tr>
                            <th>09/07/2020 11:11 AM </th>
                            <td><a class="btn btn-secondary bg-coffee">chitiet</a></td>
                        </tr>
                        <tr>
                            <th>09/07/2020 11:11 AM </th>
                            <td><a class="btn btn-secondary bg-coffee">chitiet</a></td>
                        </tr>
                        <tr>
                            <th>09/07/2020 11:11 AM </th>
                            <td><a class="btn btn-secondary bg-coffee">chitiet</a></td>
                        <tr>
                            <th>09/07/2020 11:11 AM </th>
                            <td><a class="btn btn-secondary bg-coffee">chitiet</a></td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>




        </div>
        <div class="col-4">
            <div class="rounded p-5 m-1 bg-coffee-light">
                <div class="row">
                    <h6>Cac bao cao</h6>
                </div>
                <div>
                    
                    <table class="table table-bordered table-striped border-dark rounded">
                        <tbody>
                        <thead>
                            <tr>
                                <th>Thoi gian</th>
                                <th>chitiet</th>
                            </tr>
                        </thead>
                        <tr>
                            <th>09/07/2020 11:11 AM </th>
                            <td><a class="btn btn-secondary bg-coffee" data-toggle="modal" data-target="#my_modal">modal</a> </td>
                        </tr>
                        <tr>
                            <th>09/07/2020 11:11 AM </th>
                            <td><a class="btn btn-secondary bg-coffee">chitiet</a></td>
                        </tr>
                        <tr>
                            <th>09/07/2020 11:11 AM </th>
                            <td><a class="btn btn-secondary bg-coffee">chitiet</a></td>
                        </tr>
                        <tr>
                            <th>09/07/2020 11:11 AM </th>
                            <td><a class="btn btn-secondary bg-coffee">chitiet</a></td>
                        <tr>
                            <th>09/07/2020 11:11 AM </th>
                            <td><a class="btn btn-secondary bg-coffee">chitiet</a></td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>



        </div>
    </div>


    @*modal*@
    <div id="my_modal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <table class="table table-bordered border-dark border">
                    <thead>
                        <tr>

                            <th scope="col">Noi dung</th>
                            <th scope="col">Tri gia</th>
                            <th scope="col">Ghi chu</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Tien dien</td>
                            <td>1 000 000</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Tien nuoc</td>
                            <td>1 000 000</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Tien internet</td>
                            <td>2 000 000</td>
                            <td>da cong no thang truoc</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    @Scripts.Render("~/Scripts/myJs")
    <script>
        function loadGraph(id) {
            feather.replace()

            // Graphs
            var ctx = document.getElementById(id)
            // eslint-disable-next-line no-unused-vars
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: [
                        'Sun',
                        'Mon',
                        'Tue',
                        'Wed',
                        'Thu',
                        'Fri',
                        'Sat'
                    ],
                    datasets: [{
                        data: [
                            15339,
                            21345,
                            18483,
                            24003,
                            23489,
                            24092,
                            12034
                        ],
                        lineTension: 0,
                        backgroundColor: 'transparent',
                        borderColor: '#F1BD81',
                        borderWidth: 4,
                        pointBackgroundColor: '#F1BD81'
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: false
                            }
                        }]
                    },
                    legend: {
                        display: false
                    }
                }
            })
        }

        window.onload = loadGraph('myChart1');
        window.onload = loadGraph('myChart2');
        window.onload = loadGraph('myChart3');

        //window.onload = $('.nav-tabs a[href="#home"]').tab('show')
        function toggleEdit() {
            $('#edit').css("display", "block");
            $('#info').css("display", "none");
        }
        function cancelEdit() {
            $('#edit').css("display", "none");
            $('#info').css("display", "block");
        }
    </script>
</main>

