
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Overview</title>
</head>
<body>
    <table>
        <tr>
            <th>Overall Manager Index</th>
            <td><a href="~/OverallManager/Index">View</a></td>
        </tr>
        <tr>
            <th>Agency Detail</th>
            <td><a href="~/OverallManager/AgencyDetail">View</a></td>
        </tr>
        <tr>
            <th>Finance Report</th>
            <td><a href="~/OverallManager/Finance">View</a></td>
        </tr>
        <tr>
            <th>Resource Manager</th>
            <td><a href="~/AgencyManager/StorageManagement">View</a></td>
        </tr>
        <tr>
            <th>Shift Management</th>
            <td><a href="~/AgencyManager/ShiftManagement">View</a></td>
        </tr>
        <tr>
            <th>Order Screen</th>
            <td><a href="~/Staff/Order">View</a></td>
        </tr>
        <tr>
            <th>Info Screen</th>
            <td><a href="~/Staff/Info">View</a></td>
        </tr>
    </table>
</body>
</html>
